@import "rc-switch/assets/index.css";
@import "rc-slider/assets/index.css";
@import "rc-dropdown/assets/index.css";
@import "rc-dialog/assets/index.css";
@import 'rc-datepicker/lib/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --rdp-accent-color : #0042eb;
}

@font-face{
    font-family: 'ubuntu'; 
    src: url('/font/ubuntu/Ubuntu-Bold.ttf');
    font-weight:700;
}

@font-face{
    font-family: 'ubuntu'; 
    src: url('/font/ubuntu/Ubuntu-Light.ttf');
    font-weight:300;
}


@font-face{
    font-family: 'ubuntu'; 
    src: url('/font/ubuntu/Ubuntu-Regular.ttf');
    font-weight:400;
}

@font-face{
     font-family: 'pixel'; 
     src: url('/font/pixel/ixpx-31p.ttf');
}

@font-face{
     font-family: 'mono'; 
     src: url('/font/mono/MonoMedium.woff2');
     font-weight:bold;
}

@font-face{
     font-family: 'mono'; 
     src: url('/font/mono/MonoRegular.woff2');
     font-weight:normal;
}


@font-face{
     font-family: 'mb'; 
     src: url('/font/black/MSBee-Black.woff2');
     font-weight:bold;
}

@font-face{
     font-family: 'mb'; 
     src: url('/font/black/MSBee-Thin.woff2');
     font-weight:light;
}


@font-face{
     font-family: 'mb'; 
     src: url('/font/black/MSBee-Regular.woff2');
     font-weight:normal;
}



@keyframes fadeIn {
    0% {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeInModal {
    0% {opacity:0; transform: translate3d(-50%, -30%, 0px)}
    to {opacity:1; transform: translate3d(-50%, -50%, 0px)}
}
@keyframes fadeOutModal {
    0% {opacity:1; transform: translate3d(-50%, -50%, 0px)}
    to {opacity:0; transform: translate3d(-50%, -30%, 0px)}
}

/*scrollbar*/
::-webkit-scrollbar {
    @apply bg-gray-50 dark:bg-[#333];
}
::-webkit-scrollbar-thumb  {
    @apply bg-gray-200 dark:bg-[#444] rounded-full;

}
::-webkit-scrollbar-track  
{  
    @apply bg-gray-50 dark:bg-[#333];
}  


/*darkmode*/
.d-border-c-1 {
    @apply border-gray-300 dark:border-[#31343a];
}
.d-border-c-2 {
    @apply border-gray-200 dark:border-[#31343a];
}

.d-bg-c-1 {
    @apply bg-white dark:bg-[#22252b];
}
.d-bg-c-2 {
    @apply bg-gray-100 dark:bg-[#22252b];
}
.d-bg-c-3 {
    @apply bg-gray-100 dark:bg-[#4e5155];
}

.divider::before,
.divider::after {
    @apply dark:bg-[#31343a]
}


body {
    @apply  bg-[#e6ebf4] text-black dark:bg-[#121518] dark:text-white;
}

body,div {
    transition: background 0.3s;
}

html,body {
    overflow-x: hidden;
    /* overflow: hidden; */
}

.icon-xs {
    @apply w-4 h-4;
}
.icon-sm {
    @apply w-6 h-6;
}
.icon-base {
    @apply w-8 h-8;
}
.icon-lg {
    @apply w-12 h-12;
}

.h1 {
    @apply font-bold text-4xl font-bold capitalize;
}
.h2 {
    @apply font-bold text-2xl font-bold capitalize;
}
.h3 {
    @apply font-bold text-base font-bold capitalize;
}
.label {
    @apply px-0;
}
.label-text {
    @apply font-bold text-base dark:text-white;
}

/*message*/
.rc-notification {
    @apply fixed w-screen;
    z-index: 1100;
    pointer-events:none;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}
.rc-notification-notice {
    @apply flex items-center justify-center my-1 ;
}
.rc-notification-notice-content {
    @apply bg-white px-4 py-2 my-1 mx-auto rounded-none text-sm shadow-2xl dark:shadow-dark z-50 relative border border-gray-100 dark:bg-gray-700 dark:border-gray-800;
}
.block-notification {
    @apply flex justify-between items-center dark:text-white;
    min-width: 240px;
}


.block-message > div {
    @apply flex justify-center flex-col w-full;
}
.block-message .rc-notification-notice-content {
    @apply p-0 border-0; 
}
.alert {
    @apply py-2 px-4 rounded-none;
}
.alert.alert-error {
    @apply bg-[#FCE2E2] text-[#F53535];
}
.alert.alert-success {
    @apply bg-[#D9F9D4] text-[#28D30D];
}
.alert.alert-warning,
.alert.alert-info {
    @apply bg-[#DAE5FC] text-[#5387F6] dark:border-[#5387F6] dark:border dark:bg-[#19202e];
}


.loading-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .loading-container::before {
    @apply bg-black dark:bg-white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
  }
  
  .loading-container::after {
    @apply bg-black dark:bg-white;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 3px;
    animation: raceBy 1.4s ease-in-out infinite;
    transform: translateX(-100%);
  }
  
  @keyframes raceBy {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  

.fadeIn {
  -webkit-animation: fadeIn 0.2s 0.2s forwards;
  animation: fadeIn 0.2s 0.2s forwards; 
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  
}

.fadeOut {
  -webkit-animation: fadeOut 0.2s 0.2s forwards;
  animation: fadeOut 0.2s 0.2s forwards; 
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}


.fadeInModal {
  -webkit-animation: fadeInModal 0.2s 0.2s forwards;
  animation: fadeInModal 0.2s 0.2s forwards; 
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  
}

.fadeOutModal {
  -webkit-animation: fadeOutModal 0.2s 0.2s forwards;
  animation: fadeOutModal 0.2s 0.2s forwards; 
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}


.rc-notification-fade-appear,.rc-notification-fade-enter {
    opacity: 0;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.55,0,.55,.2);
    animation-play-state: paused
}

.rc-notification-fade-leave {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.55,0,.55,.2);
    animation-play-state: paused
}

.rc-notification-fade-appear.rc-notification-fade-appear-active,.rc-notification-fade-enter.rc-notification-fade-enter-active {
    animation-name: fadeIn;
    animation-play-state: running
}

.rc-notification-fade-leave.rc-notification-fade-leave-active {
    animation-name: fadeOut;
    animation-play-state: running
}

.tooltip-arrow, .tooltip-arrow:before {
    background: inherit;
    height: 8px;
    position: absolute;
    width: 8px;
    bottom: -2px;
    left: 0px;
    transform: translate(20px, 0px);
}
.tooltip-arrow:before {
    content: "";
    transform: rotate(45deg);
    visibility: visible;
}

.drop-shadow-dark {
    --tw-drop-shadow :  drop-shadow(0 1px 1px rgb(0 0 0 / 0.5));
    filter: var(--tw-filter);
}

.mask-bg {
    @apply fixed bg-white top-0 left-0 right-0 bottom-0 w-full h-full opacity-10 z-50;
}
.dropdown-inner {
    @apply z-100;
}

.animate-forwards {
    animation-fill-mode : forwards;
}
.a {
    @apply text-blue-500 dark:text-blue-300 underline hover:text-blue-700; 
}
.rc-switch:focus {
    box-shadow:none;
}
.rc-switch-checked {
    @apply bg-primary border-primary;
}


.input-with-prefix {
    @apply font-ubuntu flex items-center text-sm text-gray-800 border focus:ring-2 border-2 border-black text-gray-800 bg-white dark:border-gray-600 dark:text-white d-bg-c-1 dark:border-[#797d86] focus:ring-yellow-100 dark:focus:ring-gray-500 ;
}
.input-with-prefix .input-inner {
    @apply bg-transparent flex-grow px-4 py-2 ;
}

.input-with-prefix .prefix {
    @apply text-gray-500 px-4 py-2 bg-black text-white dark:bg-[#797d86];
}
.input-with-prefix.has-error {
    @apply border-red-500;
}

.select-li {
    @apply flex justify-start items-center p-2 text-sm capitalize font-ubuntu;  
}
.select-li .icon {
    @apply mr-2;
}
.block-menu {
    @apply overflow-hidden d-bg-c-1 shadow-xl border d-border-c-1;  
}
.block-menu ul {
}
.block-menu li .select-li {
    @apply d-bg-c-1 cursor-pointer hover:bg-gray-100 dark:hover:bg-[#333]  px-4;
}
.height-without-header {
    height: calc(100vh - 8rem);
    overflow-y: auto;
}



/*mloading*/
.m-loading-bar {
    @apply bg-primary;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3001;
    display: none;
    height: 3px;
    pointer-events: none;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.m-loading-bar.active {
    display: block;
    -webkit-animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
    animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
}
@-webkit-keyframes LoadingBarForward {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    40% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    60% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
}

@keyframes LoadingBarForward {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    40% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    60% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
}

.jd-border {
    @apply border border-gray-300 shadow-xl rounded-lg overflow-hidden;
}

.square {
    aspect-ratio: 1/1;
}

.press-down {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
}

.btn {
    @apply min-h-8 h-10;
}


.btn-primary[disabled],
.btn-primary[disabled]:hover {
    @apply bg-[#ccc] text-[#999] dark:bg-[#4e5155] dark:text-[#999];
}

.btn-outline {
    @apply border-2 dark:border-[#fff] dark:text-[#fff];
}
.btn-outline.btn-secondary {
    @apply border-2 dark:border-[#7a7c80] dark:text-[#7a7c80];
}

.select-box {
    @apply input-base p-0 flex justify-between items-center pl-2 pr-6 cursor-pointer max-w-full dark:border-[#7a7c80];
}
.select-arrow {
    @apply appearance-none bg-no-repeat text-black dark:text-white;
    background-image: linear-gradient(
45deg,transparent 50%,currentColor 0),linear-gradient(
135deg,currentColor 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1px + 50%),calc(100% - 16px) calc(1px + 50%);
    background-size: 4px 4px,4px 4px;
}

.default-holder {
    @apply flex justify-start items-center p-2 text-sm capitalize font-ubuntu text-gray-700 dark:text-[#999];  
}
.font-mono  {
    font-family: "mono",monospace,Helvetica Neue,Helvetica,Arial,sans;
}

.font-black {
    font-family: "mb",Helvetica Neue,Helvetica,Arial,sans;
}

.font-ubuntu {
    font-family: "ubuntu",Helvetica Neue,Helvetica,Arial,sans;
}

input{outline:none;}

.text-shadow-black {
    text-shadow: 0 2px 0 #333;
}

/*dialog*/
.rc-dialog {
    max-width: 90%;
    margin: 40px auto;
}
.rc-dialog-header {
    @apply bg-white dark:bg-black border-white dark:border-gray-700 rounded-t-lg py-3;
}
.rc-dialog-title {
    @apply text-black font-ubuntu text-base font-bold text-base dark:text-white;
}
.rc-dialog-close {
    @apply opacity-100  dark:text-white right-8 top-9;
}
.rc-dialog-content {
    @apply rounded-none bg-white dark:bg-[#22252b];
}
.z-100 {
    z-index: 100;
}

.bf-controlbar {
    @apply d-border-c-2 border-b;
    box-shadow: none;
}

/*main*/
.logo {
    @apply font-black text-xl mr-4 text-black flex items-center;
}
.main-menu {
    @apply flex justify-start items-center space-x-4;
}
.main-menu .menu-one {
    @apply flex justify-start  items-center;
}
.main-menu .menu-one  .icon{
    @apply w-6;
}

.input-base,
.form-block-base {
    @apply border-black border-2 dark:border-[#7a7c80];
}


.input-box {
    @apply font-ubuntu px-4 py-2 text-sm w-full border focus:ring-2 text-black input-base d-bg-c-1 dark:border-[#797d86]  dark:text-white;
}
.input-box.yellow {
    @apply bg-yellow-200 border border-yellow-300 text-black dark:bg-yellow-900 dark:border-yellow-700 text-black dark:text-white; 
}
.input-box.yellow::placeholder,
.input-box.yellow.placeholder{
    @apply text-yellow-400 dark:text-yellow-200;
}
.input-box.yellow.input-error {
    @apply border-red-500;
}
.input-box.input-error {
    @apply border-red-500;
}

.input-error-msg {
    @apply text-red-500 text-sm px-0 py-1;
}


.project-type-select {
    @apply grid grid-cols-2 gap-4;
}
.project-type-select .select-one {
    @apply border-2 border-black cursor-pointer p-0 dark:bg-transparent dark:border-primary;
}
.project-type-select .select-one h3 {
    @apply bg-white  px-4 py-2 text-base border-b-2 border-black flex justify-between dark:bg-transparent dark:border-primary;
}
.project-type-select .select-one h3 .icon {
    @apply w-5 dark:text-white;
}

.project-type-select .select-one.active {
    @apply border-2 border-primary;
}
.project-type-select .select-one.active h3{
    @apply border-primary bg-primary text-white;
}

.form-control {
    @apply mb-2;
}

.rc-dialog-body {
    @apply p-8;
}
.rc-dialog-body .modal-title {
    @apply font-bold text-xl text-left mb-4 capitalize;
}

.block-wapper-one {
    @apply grid grid-cols-3 gap-16;
}
.block-wapper-one .l {
    @apply col-span-2 ;
}

.block-intro {
    @apply text-black;
}
.block-intro h3 {
    @apply capitalize font-bold text-lg mb-2 dark:text-white;
}
.block-intro .ct {
    @apply text-sm text-gray-600;
}
.block-intro p {
    @apply mb-2 ;
}

.block-title {
    @apply font-bold text-2xl mb-2 ;
}

.form-box-one {
    @apply d-bg-c-1 p-8 text-white;
}
.form-box-one .label-text {
    @apply text-gray-700 dark:text-[#999];
}

.block-menu2 {
    @apply border-2 border-black;
}

/*bf*/
.bf-link {
    @apply text-blue-500 hover:underline;
}

.gallery-image-one {
    @apply  bg-[#fff] z-10 form-block-base relative;
}
.gallery-image-one .tools {
    @apply hidden items-center w-full h-full absolute left-0 top-0 items-center justify-center;
}
.gallery-image-one .hover-bg {
    @apply hidden w-full h-full absolute left-0 top-0 bg-black opacity-25;
}
.gallery-image-one:hover .hover-bg {
    @apply block;
}
.gallery-image-one:hover .tools {
    @apply flex;
}


.club-header-menu a {
    @apply py-2;
}
.club-header-menu .active{
    @apply border-b-2 border-primary;
}

.probability_wapper .prefix{
    @apply w-32 overflow-hidden;
}
.probability_wapper .prefix.end{
    @apply w-auto dark:bg-transparent;
}
.probability_wapper .input-inner{
    @apply w-16
}

.trait-image .dropdown {
    @apply hidden;
}
.trait-image:hover .dropdown {
    @apply block;
}

.trait-name .edit-icon{
    @apply hidden;
}
.trait-name:hover .edit-icon{
    @apply block;
}

.block-steps {
    @apply flex justify-start items-center;
}
.block-step-one {
    @apply flex justify-start items-center text-[#999] dark:text-[#7a7c80] font-bold mr-8 capitalize;
}

.block-step-one .step-no {
    @apply bg-[#ccc] dark:bg-[#4e5155] text-white font-bold h-8 w-8 flex justify-center items-center mr-4;
}
.block-step-one.active,
.block-step-one.done {
    @apply text-black dark:text-white;
}
.block-step-one.active .step-no,
.block-step-one.done .step-no {
    @apply bg-primary;
}
.block-step-one .step-line {
    @apply w-8 border-t border-gray-300 border-dashed ml-4;
}
.block-step-one.done .step-line {
    @apply border-primary;
}
.block-step-one:last-child .step-line{
    @apply hidden;
}

.alert span {
    @apply text-sm;
}
.inline-form .form-control {
    @apply mb-0;
}

.asset-bg {
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
}
.dark .asset-bg {
    background-image: linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%), linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%);
}

.club-nav-tabs {
    @apply border-b-2 border-gray-200 dark:border-[#31343a] space-x-8;
}
.club-nav-tabs .tab{
    @apply font-bold text-base h-10 px-0 dark:text-white;
}
.club-nav-tabs .tab-active {
    @apply border-primary border-b-2 px-0 relative;
    bottom:-2px;  
    padding-bottom:2px;
}

.header-bg {
    @apply bg-white;
}
.fullpage-container.blue {
    @apply bg-[#2e2c9b];
}
.fullpage-container.blue .footer {
    color :#fff !important;
}
.fullpage-container.blue .header-bg{
    @apply bg-[#2e2c9b] text-white;
}
.fullpage-container.blue .dark-mode-switch {
    @apply hidden;
}
.fullpage-container.blue .btn-outline
{
    @apply border-white text-white;
}
.fullpage-container.blue .logo {
    @apply text-white;
}
.fullpage-container.blue .ju367vfd {
    @apply text-white;
}
.landingpage {
    @apply h-full;
    background: url('/img/landingpage/banner2.png') no-repeat;
    background-position: bottom -240px right -240px;
    background-size: auto 90%;
}


.block-left-menu ul li a {
    @apply flex justify-start items-center capitalize text-base my-2 text-gray-400 cursor-pointer hover:text-black dark:hover:text-white; 
}
.block-left-menu ul li a .icon-base {
    @apply mr-2 text-gray-400;
}

.block-left-menu ul li a.active {
    @apply text-black dark:text-white;
}

.block-left-menu ul li a:hover .icon-base,
.block-left-menu ul li a.active .icon-base {
    @apply text-black dark:text-white;
}
.contract-form {
    @apply mb-12;
}
.contract-form h2 {
    @apply font-bold text-lg capitalize;
}
.contract-form .ct {
    @apply bg-white p-6 dark:bg-[#22252b];
}
.contract-form .intro {
    @apply text-sm text-gray-600;
}
.contract-form .intro p {
    @apply mb-2;
}
.contract-form .title label {
    @apply py-0;
}
.contract-form .title .form-control {
    @apply mb-0;
}

.input {
    @apply dark:bg-transparent;
}
.input-bordered {
    @apply dark:border-[#7a7c80];
}

.input-select-box,
select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    appearance: none;
}

.select-one {
    @apply pl-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.checkbox-input {
    @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.refund-one .form-control {
    @apply mb-0;
}


.upload-placeholder .btn.btn-outline {
    @apply h-auto flex justify-between p-4 mb-4 w-full leading-6;
}

.upload-placeholder .rc-upload {
    @apply w-full mb-4 block;
}
.placeholder-img-wapper {
    @apply w-64
}

.info-dl {
    @apply mb-6;
}
.info-dl label {
    @apply text-gray-400 capitalize;
}
.ct .info-dl:last-child {
    @apply mb-0;
}
.info-dl.end {
    @apply mb-0;
}

.info-table {
    @apply w-full text-sm;
}
.info-table th {
    @apply text-left bg-gray-100 dark:bg-[#181a1e] dark:text-[#a3a3a5] py-2 px-4;
}
.info-table td {
    @apply text-left py-2 px-4;
}

.gas-wrapper {
    @apply p-4 py-2 text-base;
}
.gas-wrapper .gas-one {
    @apply flex justify-between items-center my-2;
}
.gas-wrapper .gas-one .l {
    @apply capitalize;
} 

.block-notification.info .title{
    @apply text-blue-500;
}
.block-notification.success .title{
    @apply text-green-500;
}
.block-notification.error .title{
    @apply text-red-500;
}
.block-notification.loading .title{
    @apply text-black dark:text-white;
}


.menu[class*=" p-"] li > a:hover {
    @apply dark:bg-[#22252b];
}

.btn-default {
    @apply dark:bg-[#49516f] dark:hover:bg-[#39405b] dark:text-white;
}

.DraftEditor-root {
    @apply dark:text-white;
}
.edit-form-line {
    @apply cursor-pointer;
}
.edit-form-line .icon-xs {
    @apply hidden;
}
.edit-form-line:hover .icon-xs {
    @apply block;
} 

/*modal垂直居中*/
.rc-dialog-wrap {
    @apply flex justify-center items-center;
}

/*select白底问题*/
.rdp-dropdown:focus:not([disabled]) + .rdp-caption_label, 
.rdp-dropdown:active:not([disabled]) + .rdp-caption_label {
    @apply dark:bg-transparent dark:border-0;
}
.rdp-button:hover:not([aria-disabled='true']) {
    @apply dark:bg-black;
}
.rdp-dropdown {
    @apply bg-gray-200 dark:bg-black;
}
/* 
@keyframes layerBoxSlideDown {
    0% {height:84px;}
    to {height:396px;}
}

@keyframes layerBoxSlideUp {
    0% {height: 396px}
    to {height: 84px}
}

.layer-close {
    animation: layerBoxSlideUp 0.3s ease-in-out;
}

.layer-open {
    animation: layerBoxSlideDown 0.3s ease-in-out;
} */


.block-upload-msg {
    @apply bg-[#DAE5FC] text-black flex justify-between items-center py-2 px-4 dark:bg-[#19202E] dark:text-white dark:border dark:border-[#3c5ea6];
}
.block-upload-msg.msg-error {
    @apply bg-[#FCE2E2] text-[#F53535] dark:bg-[#2C2727] dark:border-[#a42f2f];
}

.dot-circle {
    @apply bg-gray-400 dark:bg-gray-400 w-2 h-2 mr-2 rounded-full;
}

.active .dot-circle {
    @apply bg-black dark:bg-white;
}